{% extends "base.html" %}
{% block title %}
  Support
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-success mb-4">Customer Support</h1>
    
    <p class="text-center">At Momo, we value your satisfaction. If you have any issues, questions, or need assistance, our support team is here to help!</p>
    
    <h3 class="text-success">How to Contact Us</h3>
    <ul>
        <li>Email: <a href="mailto:anishnepal000@gmail.com">anishnepal000@gmail.com</a></li>
        <li>Phone: <a href="tel:+9779867580175">+977 9867580175</a></li>
    </ul>

    <h3 class="text-success mt-5">Frequently Asked Questions</h3>
    <p>Check out our FAQ section for answers to common questions about our products and services:</p>
    
    <ul>
        <li><a href="#">How do I place an order?</a></li>
        <li><a href="#">What are your delivery options?</a></li>
        <li><a href="#">What is your refund policy?</a></li>
        <li><a href="#">How can I track my order?</a></li>
    </ul>

    
</div>
{% endblock content %}