{% extends "base.html" %}
{% block title %}
  Terms-and-Conditons
{% endblock title %}
{% block content %}
<div class="container mt-5">
<h1 class="text-center text-success mb-4">Terms and Conditions</h1>
<p>Welcome to Momo! These terms and conditions outline the rules and regulations for the use of Momo's website.</p>

<h3 class="text-success">1. Introduction</h3>
<p>By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Momo's website if you do not accept all of the terms and conditions stated on this page.</p>

<h3 class="text-success">2. Cookies</h3>
<p>We employ the use of cookies. By using Momo's website, you consent to the use of cookies in accordance with Momo’s privacy policy.</p>

<h3 class="text-success">3. License</h3>
<p>Unless otherwise stated, Momo and/or its licensors own the intellectual property rights for all material on Momo. All intellectual property rights are reserved. You may view and/or print pages from http://momo.com for your own personal use subject to restrictions set in these terms and conditions.</p>

<h3 class="text-success">4. User Comments</h3>
<p>This agreement shall begin on the date hereof. Certain parts of this website offer users the opportunity to post and exchange opinions, information, material, and data. Momo does not filter, edit, publish or review comments before their appearance on the website. Comments do not reflect the views or opinions of Momo, its agents, or affiliates.</p>

<h3 class="text-success">5. Hyperlinking to our Content</h3>
<p>The following organizations may link to our website without prior written approval:</p>
<ul>
    <li>Government agencies;</li>
    <li>Search engines;</li>
    <li>News organizations;</li>
</ul>

<h3 class="text-success">6. Content Liability</h3>
<p>We shall have no responsibility or liability for any content appearing on your website. You agree to indemnify and defend us against all claims arising out of or based upon your website.</p>

<h3 class="text-success">7. Reservation of Rights</h3>
<p>We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our website. You agree to immediately remove all links to our website upon such a request.</p>

<h3 class="text-success">8. Removal of Links</h3>
<p>If you find any link on our website or any linked website objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.</p>

<h3 class="text-success">9. Disclaimer</h3>
<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties, and conditions relating to our website and the use of this website.</p>

<div class="text-center mt-5">
    <a href="{% url 'home' %}" class="btn btn-success">Return to Homepage</a>
</div>
</div>
{% endblock content %}