{% extends "base.html" %}
{% block title %}
  Advice
{% endblock title %}
{% block content %}
{% load static %}
  <!-- first section starts -->
  <div class="container third">
    <div class="row">
        <div class="col-6 mt-5">
            <div class="mt-5 main-content">
              <div class="mb-4 design">Allergy Advice</div>
            <div class="fw-lighter sml-text">AT OUR RESTAURANT</div>
            <h3 class="mt-3">We use only the freshest and highest quality ingredients in all our dishes, <span class="text-orange"> and offer transparency in our ingredients labeling.</span></h3>
        </div>
        </div>
        
        <div class="col-6 mt-5 ">
          <div class="box">
            <img src="{% static 'images/chef2.png' %}" alt="man-graphic" height="500px" width="500px">
            </div>
        </div>
        </div>
        </div>
  <!-- first section ends -->

  <!-- advice text starts -->
   <div class="text-center second">
    <h2><span class="text-danger mt-5">Allergy</span> Advice</h2>
    <hr class="w-50 mx-auto">
    <div class="container fw-lighter texts">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde quo nam, aspernatur ducimus optio illum numquam tempore quia rem, temporibus animi fuga voluptas quod, ab mollitia. Consequatur molestiae in aspernatur explicabo temporibus vero, eligendi, recusandae ducimus possimus iste nisi iusto cumque, at fuga? Voluptatum iste molestias unde ipsa totam distinctio omnis voluptatem consequuntur enim.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi necessitatibus magnam atque facilis placeat debitis illum laboriosam reprehenderit, velit aspernatur hic accusamus aliquam sint. Culpa explicabo nihil sapiente delectus quaerat commodi molestias adipisci reprehenderit dolorem.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas obcaecati, perspiciatis necessitatibus quod dignissimos, tenetur natus iste, nam suscipit at consectetur? Magnam ex at nostrum fugiat tenetur, corporis laudantium sint consequuntur architecto earum quisquam repellat numquam enim, qui itaque consectetur. Rem beatae modi culpa eligendi vel corrupti cum illum aut. Rerum laudantium minima illo magni nobis quas pariatur quisquam cumque!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, non dicta amet veritatis minus sapiente soluta vero placeat eligendi, magnam doloribus illum vel. Error suscipit quasi voluptates eligendi eaque neque magnam esse magni unde fugiat iure, tempore, saepe doloribus facilis alias dolor ratione id rem facere. Iusto sunt consectetur magnam quia natus, repudiandae numquam illo delectus quidem fugiat ex eligendi deleniti corporis? Nemo, officia impedit obcaecati maiores consequuntur optio atque architecto est. Vitae vero, eius delectus est sapiente consequatur pariatur, distinctio fuga facere, corrupti inventore voluptatum qui voluptate iure enim!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi consequatur vitae placeat, et quae saepe voluptatem, suscipit praesentium aut doloribus deserunt impedit minus repellendus velit numquam odit. Rem nam ducimus explicabo harum ullam praesentium illo reprehenderit porro? Dignissimos commodi nam rem est, magni animi repudiandae sint qui necessitatibus quam recusandae inventore optio cum exercitationem id maxime minus ipsa. Tempora, totam?</p>
    </div>
   </div>
  <!-- advice text ends -->
{% endblock content %}